@model List<Employee>
<h2>All Employees</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Title</th>
            <th scope="col">Age</th>
        </tr>
    </thead>
    <tbody>
       @foreach(var employee in Model){
        <tr>
           
            <td>@employee.Id</td>
             <td>@employee.Name</td>
                <td>@employee.Title</td>
              <td>@employee.Age</td>
         
        </tr>
       }
    </tbody>
</table>
